.paper {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    margin-left: 100px;
    position: relative;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 25px;
}

.paper__container {
    display: flex;
    flex-direction: column;
}

.input {
    display: inline-flex;
    flex-direction: column;
}

.input + .btn {
    margin-top: 10px;
}